.don {
  width: 100%;
  padding: 40px 20px;
  margin-top: 70px;
  text-align: center;
  border-top: 5px solid #c17835; /* Léger renforcement */
  box-sizing: border-box;
  background: #f0f0f7;
}

.don-container {
  max-width: 800px;
  margin: auto;
}

.don h2 {
  font-size: 2rem;
  color: #7a1f1f; /* Marron plus affirmé */
  margin-bottom: 20px;
  font-weight: bold;
  margin: 0;
}

.don p {
  font-size: 1.2rem;
  color: #4a3628; /* Marron foncé pour plus de lisibilité */
  margin-bottom: 20px;
  line-height: 1.8;
}

.don-button {
  display: inline-block;
  background: linear-gradient(
    135deg,
    #b85c38,
    #7a1f1f
  ); /* Bouton avec dégradé léger */
  color: white;
  padding: 16px 28px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

.don-button:hover {
  background: linear-gradient(135deg, #923d21, #751f0f);
  transform: translateY(-3px);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
@media (max-width: 760px) {
  .don h2 {
    font-size: 1.5rem;
  }

  .don p {
    font-size: 1.1rem;
  }

  .don-button {
    font-size: 1rem;
  }
}
