.accueil-actu {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 0px 8%;

  .section-title {
    font-size: 2rem;
    text-align: center;
    color: #7a1f1f; /* Même marron profond que le titre du don */
    margin-bottom: 30px;
    font-weight: bold;
  }

  .carre,
  .carre_2 {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;

    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(67, 91, 122, 0.6);
  }

  .carre_2 {
    flex-direction: row-reverse;
  }

  .carre img,
  .carre_2 img {
    width: 300px;
    height: 360px;
    border-radius: 10px;
  }

  .carre div,
  .carre_2 div {
    display: flex;
    flex-direction: column;
  }

  h3 {
    font-size: 1.7em;
    color: #7a1f1f;
  }

  p {
    font-size: 1.2em;
    color: #333;
    line-height: 1.6;
  }

  .button-actu {
    align-self: center;
    font-size: 1.3em;
    padding: 12px 24px;
    border: none;
    background: #7a1f1f;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none;
  }

  .button-actu:hover {
    background: #5a2d0c; /* Marron plus foncé */
  }
}
@media (max-width: 760px) {
  .accueil-actu {
    gap: 15px;

    .section-title {
      font-size: 1.6rem;
    }

    .carre,
    .carre_2 {
      flex-direction: column;
      text-align: center;
    }
    .carre_2 {
      flex-direction: column;
    }
    .carre img,
    .carre_2 img {
      width: 100%;
      height: 210px;
      object-fit: cover;
      border-radius: 0;
    }
    h3 {
      font-size: 1.3rem;
      margin: 0;
    }
    p {
      font-size: 1rem;
    }
    .button-actu {
      font-size: 1rem;
      margin-top: 5px;
    }
  }
}
